In [45]:
with open('numbers.txt', 'r', encoding='utf-8') as f:
  content = f.read()
  for i in content:
    if i.isdigit():
      sum_numbers = sum_numbers + int(i)
print('---File Content---')
print(content)
print('---Sum of Numbers---')
print(sum_numbers)

---File Content---
5
8
9
5
3
6
8
6
1
7
---Sum of Numbers---
174

In [24]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
x = [n**3 for n in num if n % 3 == 0]
print(x)

[27, 216, 729, 1728, 3375, 5832]

In [53]:
students = [
    {'name': 'Askar', 'score': 93},
    {'name': 'Aigul', 'score': 91},
    {'name': 'Azamat', 'score': 85},
    {'name': 'Maira', 'score': 96}
]
high_score = 0
student_name = ''
for student in students:
    if student['score'] > high_score:
        high_score = student['score']
        student_name = student['name']
print(student_name,':', high_score)

Maira : 96

In [82]:
lst = [5, 8, 4, 6, 4, 5, 9, 7, 3]
my_lst = set(lst)
print(my_lst)

{3, 4, 5, 6, 7, 8, 9}

In [84]:
import json

data = {
    'students': [
        {'name': 'Nazym', 'grade': 85},
        {'name': 'Arman', 'grade': 92},
        {'name': 'Adiya', 'grade': 96}
    ],
    'course': 'Data Mining',
}

with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=2)

with open('data.json', 'r', encoding='utf-8') as f:
    loaded = json.load(f)
print('Loaded:', loaded)

average_grade = sum(student['grade'] for student in data['students']) / len(data['students'])
print('Average Grade:', average_grade)

Loaded: {'students': [{'name': 'Nazym', 'grade': 85}, {'name': 'Arman', 'grade': 92}, {'name': 'Adiya', 'grade': 96}], 'course': 'Data Mining'}
Average Grade: 91.0