In [5]:
a = 3
b = 2.5
c = 'number'
d = True
e = {'name': 'Janna'}
f = [1,'Orange', 3, 'Apple']
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'dict'>
<class 'list'>

In [14]:
x = int(input('x = '))

if x % 2 ==0 :
    print('x жұп сан')
else:
    print('x тақ сан')

x = 8
x жұп сан

In [11]:
x = int(input('x = '))
y = int(input('y ='))

if x > y:
    print('x is greater than y')
elif x == y:
    print('x is equal to y')
else:
    print('x is less than y')

x = 45
y =68
x is less than y

In [19]:
my_lst = [40, 60, 70, 80, 50, 10]

for i in my_lst:
  i = i / 2
  print(i)

20.0
30.0
35.0
40.0
25.0
5.0

In [22]:
h = 0
while h < 10:
    h += 1
    if h % 2 == 1:
        continue
    print(h)

2
4
6
8
10

In [25]:
def fahrenheit_to_celsius(fahrenheit):
  return (fahrenheit - 32) * 5 / 9
fahrenheit = float(input('Enter temperature in Fahrenheit: '))
celsius = fahrenheit_to_celsius(fahrenheit)
print(celsius)

Enter temperature in Fahrenheit: 85.6
29.77777777777778